

@media(max-width: 600px){
    .body{
        padding-top: 20px;
        h1{
            font-size: 30px;
            margin-bottom: 20px;
        }
        .card{
            flex-direction: column;
            img{
                width: 100%;
            }
            .def{
                width: 100%;
            }
        }

    }
}


@media(max-width: 400px){
    nav{
        #menu:checked {
            & + .menu{
                translate: 0;
            }
            & ~ .bgmn{
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.342);
                z-index: 99;
            }
        }
        .menu{
            position: fixed;
            top: 0;
            left: 0;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            height: 100vh;
            overflow-y: scroll;
            width: 80%;
            gap: 0;
            border-right: 2px solid rgba(0, 0, 0, 0.185);
            translate: -110%;
            transition: 300ms;
            
            a{
                padding: 20px 20px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.185);
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
        label{
            display: block;
            font-size: 30px;
        }
    }

}